<connectionStrings>
  <add
    name="DWAPIRemote"
    connectionString="Data Source=127.0.0.1\Koske14;Initial Catalog=DWAPIRemote;Persist Security Info=True;User ID=sa;Password=maun;MultipleActiveResultSets=True;Pooling=True"
    providerName="System.Data.SqlClient" 
    />
  <add
    name="EMRDatabase"
    connectionString="Data Source=127.0.0.1\Koske14;Initial Catalog=IQTools_Test;Persist Security Info=True;User ID=sa;Password=maun;MultipleActiveResultSets=True;Pooling=True"
    providerName="System.Data.SqlClient"
    />
  <add
    name="MySQLEMRDatabase"
    connectionString="Server=127.0.0.1;Port=3306;Database=hmis;Uid=root;Pwd=;convert zero datetime=True"
    providerName="MySql.Data.MySqlClient"
    />
  <add
    name="PostgreSQLEMRDatabase"
    connectionString="Server=127.0.0.1;Port=5432;Database=hmis;User Id=postgres;Password=postgres;"
    providerName="Npgsql"
    />


  
</connectionStrings>
