<connectionStrings>
  <add
    name="DWAPICentral"
    connectionString="Data Source=.;Initial Catalog=DWAPICentral;Persist Security Info=True;User ID=sa;Password=Sydney123;MultipleActiveResultSets=True;Max Pool Size=50000;Pooling=True"
    providerName="System.Data.SqlClient"
  />
  <add
    name="DWAPICentralHangfire"
    connectionString="Data Source=.;Initial Catalog=DWAPICentralHangfire;Persist Security Info=True;User ID=sa;Password=Sydney123;MultipleActiveResultSets=True;Max Pool Size=50000;Pooling=True"
    providerName="System.Data.SqlClient"
  />
</connectionStrings>
