<connectionStrings>
  <add
    name="DWAPICentral"
    connectionString="Data Source=PAL-5CG136BN1T\SQLEXPRESS;Initial Catalog=DWAPICentralDev;Persist Security Info=True;User ID=sa;Password=Sydney123;MultipleActiveResultSets=True;Pooling=True"
    providerName="System.Data.SqlClient"
    />
</connectionStrings>
