<connectionStrings>

  <add
    name="DWAPIRemote"
    connectionString="Data Source=PAL-5CG2114M0C;Initial Catalog=DWAPIRemote;Persist Security Info=True;User ID=sa;Password=Megg96Megg;MultipleActiveResultSets=True;Pooling=True"
    providerName="System.Data.SqlClient"
  />
  <add
    name="EMRDatabase"
    connectionString="Data Source=PAL-5CG2114M0C;Initial Catalog=IQTools_Test;Persist Security Info=True;User ID=sa;Password=Megg96Megg;MultipleActiveResultSets=True;Pooling=True"
    providerName="System.Data.SqlClient"
  />
  <!--
     <add
    name="DWAPIRemote"
    connectionString="Server=192.168.1.173;Port=3306;Database=dwapiremoteprod;Uid=pacs;Pwd=pacs;convert zero datetime=True"
    providerName="MySql.Data.MySqlClient"
    />
 
  <add
    name="MySQLEMRDatabase"
    connectionString="Server=127.0.0.1;Port=3306;Database=hmis;Uid=root;Pwd=;convert zero datetime=True"
    providerName="MySql.Data.MySqlClient"
    />
  <add
    name="PostgreSQLEMRDatabase"
    connectionString="Server=127.0.0.1;Port=5432;Database=hmis;User Id=postgres;Password=postgres;"
    providerName="Npgsql"
    />--> 

</connectionStrings>
