<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml" version="2.7.1" targetFramework="net462" />
  <package id="FastMember" version="1.1.0" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net462" />
</packages>