<connectionStrings>
  <add
    name="DWAPICentral"
    connectionString="Data Source=PAL-5CG2114M0C;Initial Catalog=DWAPICentralTestCore;Persist Security Info=True;User ID=sa;Password=Megg96Megg;MultipleActiveResultSets=True;Pooling=True"
    providerName="System.Data.SqlClient"
    />
</connectionStrings>
