<connectionStrings>
  <add
    name="DWAPICentral"
    connectionString="Data Source=FUTURESKE2\SQLSERVER;Initial Catalog=DWAPICentral;Persist Security Info=True;User ID=sa;Password=constella;MultipleActiveResultSets=True;Pooling=True"
    providerName="System.Data.SqlClient" 
    />
</connectionStrings>
